<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>
<style>
    label,p{
        color: gray;
    }
    input{
        width: 100%;
    }
    .input{
        width: 300px;
    }
</style>
<body style="height: 100vh" class="d-flex justify-content-center align-items-center ">
    <div >
        <form class="form py-3 px-5 shadow-sm border rounded" >
            
            <h3 class="mb-3 text-center">Sign Up</h3>
            <p class="mb-3 text-center ">It's free and only takes a minute</p>
            <div class="  input mb-3 ">
                <label for="username">Username</label>
                <input type="text" class="form-control px-2" id="username">
            </div>
            <div class="  input mb-3 ">
                <label for="email">Email address</label>
                <input type="email" class="form-control px-2" id="email">
            </div>
            <div class= "input mb-3 ">
                <label for="password">Password</label>
                <input type="password" class="form-control px-2" id="password">
            </div>
            <div class= "input mb-3 ">
                <label for="c_password">Confirm Password</label>
                <input type="password" class="form-control px-2" id="c_password">
            </div>
            <div class= "input mb-3">
                <button style="width: 100%;" class="btn btn-success ">Sign In</button>
            </div>
            <div class="input">
                <p class="text-center" style="font-size: 13px;">By click the Sign Up button, you agree to our <a class="text-success text-decoration-none " href="#">Terms & Conditions</a> and <a class="text-success text-decoration-none text-sm" href="#">Privacy Policy.</a></p>
            </div>
        </form>
    </div>
    
</body>
</html> -->